<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.community.modules.article.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.arnold.www.pojo.User">
        <id column="id" property="id" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, TITLE, DESCRIPTION, AUTHOR_ID, AUTHOR_NAME, CONTENT, CONTENT_FORMAT, READ_NUM, COMMENT_NUM, LIKE_NUM, COVER_TYPE, COVER_URL, CREATE_TIME, UPDATE_TIME, RECOMMEND, CATEGORY, PUBLISH, IS_TOP
    </sql>

</mapper>